APP_REPOSITORY_POSTGRES_ADDRESS=localhost:5430
APP_REPOSITORY_POSTGRES_NAME=your_database
APP_REPOSITORY_POSTGRES_USERNAME=your_username
APP_REPOSITORY_POSTGRES_PASSWORD=your_password

APP_PROCESSOR_WEB_SERVER_LISTEN_PORT=8082

APP_MONITOR_LOG_LEVEL=debug
APP_MONITOR_ENVIRONMENT=development
